header{
	.wrapper{
		background: url(../i/blue_stool.png) no-repeat;
		background-size: 100% 100%;
		padding: 30px;
		position: relative;
		@media(max-width:767px){
			background-size: cover;
		}
		.info{
			text-align: center;
			padding: 275px 0;
			max-width: 600px;
			margin: 0 auto;
			@media(max-width:991px){
				padding: 175px 0;
			}
		}
		h1{
			color: white;
			font-family: Nunito;
			font-size: 60px;
			font-weight: 300;
			margin-bottom: 45px;
			height: 70px;
			@media(max-width:550px){
				font-size:50px;
			}
		}
		p{
			color:#fff;
		}
	}
}